<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado IMC</title>
    <link rel="stylesheet" href="/estilo.css">
</head>

<body>
    <h1>Resultado</h1>
    <% if(erro){ %>
        <p class="erro">
            <%= erro %>
        </p>
        <% }else{ %>
            <p class="resultado"><strong>Peso: </strong>
                <%= peso %>
            </p>
            <p class="resultado"><strong>Altura: </strong>
                <%= altura %>
            </p>
            <p class="resultado"><strong>IMC: </strong>
                <%= imc %>
            </p>
            <p class="resultado"><strong>Classificação: </strong>
                <%= classificacao %>
                    <%= grau %>
            </p>
            <% } %>
</body>

</html>